<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Case Upload</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="container" align="left" style = "min-high:100%">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info alert-dismissible" role = "alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <div class="container" align="center" style = "min-high:100%">
        <h1>Case upload by customer#</h1>
        <form action="/caseread" method="post">
            <input type="text" placeholder="Search for new customer" name="user_search" required/>
            <button type="submit">Upload</button>
        </form>
        </div>
    </body>
</html>
